.HomePage__container{
    padding-top: 2em;
    margin: 2em auto 0;
    height: 100%;
    /* margin-top: 2em; */
    /* width: min(400px, 70%); */
    width: max(400px, 60%);
    /* width: 100%; */
    /* background-color: hsla(0, 0%, 100%, 80%); */
    /* background-color: var(--my-pale-gray);  */
    /* padding-top: 2.5em; */
}

.HomePage-page{
    background-color: hsla(240, 10%, 76%, 50%);
}